.quiz-container {
  font-family: "Alight Sans", sans-serif;
  text-align: center;
  background-color: #FFFFFF;
  margin: 0 auto;
  max-width: 800px;
  width: 100%;
  padding-bottom: 1em; }

.choices {
  text-align: center; }

div.buttons {
  display: inline; }

button.flowchart-button {
  -o-transition: 0.2s;
  -ms-transition: 0.2s;
  -moz-transition: 0.2s;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  font-family: Helvetica, sans-serif !important;
  font-size: .9em;
  font-weight: 100;
  color: #414141;
  background-color: #ececec;
  cursor: pointer;
  width: 120px;
  margin: 0.1em 1em 0.4em 0;
  border: 0;
  padding: 12px 0px;
  padding: 8px 10px; }
  /* line 45, /Users/nzhu94/Dev/quiz-generator/source/stylesheets/flowchart.css.scss */
  button.flowchart-button:hover {
    background-color: #f37b21; }

p.down-arrow {
  margin: 0 auto;
  width: 100%; }

.question {
  margin-top: 2.5em !important;
  margin-bottom: 0.4em;
  padding: 0 0.6em 0.6em; }
  /* line 59, /Users/nzhu94/Dev/quiz-generator/source/stylesheets/flowchart.css.scss */
  .question p {
    font-family: "Balto", sans-serif;
    font-size: 1.2em;
    font-weight: 400; }

.scorecard {
  margin-top: 15px; }

.last {
  margin: 0 auto;
  margin-top: 2em;
  width: 70%;
  min-width: 200px;
  border-top: 1px solid #ececec; }
  /* line 77, /Users/nzhu94/Dev/quiz-generator/source/stylesheets/flowchart.css.scss */
  .last p {
    margin-top: 2em;
    margin-bottom: 0px;
    line-height: 1.5em; }
    
span.help img {
	display: block;
	border: 1px solid black;
	margin: 0 auto;
	width: 48px;
	height: 48px;
}


.hover-content {
	display: none;
	background-color: rgb(161,220,51);
	border-radius: 25px;
	margin: 5px auto 0;
	max-width: 500px;
}

html.non-touch span.help:hover .hover-content,
span.help .hover-content.touch {
	display: block;
} 